{% extends 'base.html' %}
{% load comments_extras %}

{% block main %}

  <div class="box-element">

    <article class="post post-{{ post.pk }}">

    <header class="entry-header">
        <h1 class="entry-title">{{ post.title }}</h1>

        <div class="entry-meta">
        <span class="post-category"><a>{{ post.categories.name }}</a></span>
        <span class="post-date"><a><time class="entry-date"
                                                    datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
        <span class="post-author"><a>{{ post.author }}</a></span>
        <span class="comments-link"><a href="#comment-area">{{ post.comments_post.count }} <i class="fas fa-comment-dots"></i></a></span>
        <span class="views-count"><a>{{ post.views }} <i class="far fa-eye"></i></a></span>
        </div>

    </header>

    <div class="entry-content clearfix">
        {{ post.body_html|safe }}
    </div>

    
    <br>
    <br>
    </article>
    <hr>

    <section class="comment-area" id="comment-area">
      <h3 class="entry-title">发表评论</h3>
      {% if user.is_authenticated %}
        {% show_comment_form post %}
      {% else %}
        <h5 class="row justify-content-center">
            请<a href="{% url 'userprofile:user_login' %}">登录</a>后回复
        </h5>
        <br>
      {% endif %}

      <div class="comment-list-panel entry-title">
        {% show_comments post %}
      </div>
    </section>

  </div>

{% endblock main %}

{% block toc %}

  {% if post.toc %}

    <div class="widget widget-content box-element">

      <h3 class="entry-free">文章目录</h3>
      <div class="toc">
        <ul>
          {{ post.toc|safe }}
        </ul>
      </div>
      
    </div>
    <br>

  {% endif %}

{% endblock toc %}