{% extends 'base.html' %}

{% block main %}

  <div class="box-element">

    <article class="post post-{{ post.pk }}">

    <header class="entry-header">
        <h1 class="entry-title">{{ post.title }}</h1>

        <div class="entry-meta">
        <span class="post-category"><a>{{ post.categories.name }}</a></span>
        <span class="post-date"><a><time class="entry-date"
                                                    datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
        <span class="post-author"><a>{{ post.author }}</a></span>
        <span class="comments-link"><a>4 评论</a></span>
        <span class="views-count"><a>588 阅读</a></span>
        </div>

    </header>

    <div class="entry-content clearfix">
        {{ post.body|safe }}
    </div>

    
    <br>
    <br>
    </article>
    <hr>

  </div>

{% endblock main %}

{% block toc %}

  {% if post.toc %}

    <div class="widget widget-content box-element">

      <h3 class="entry-free">文章目录</h3>
      <div class="toc">
        <ul>
          {{ post.toc|safe }}
        </ul>
      </div>
      
    </div>
    <br>

  {% endif %}

{% endblock toc %}